<%= bootstrap_form_for [@subject, @post, @section]  do |form| %>     

  <div class="field">    
    <%= form.select :content_type, ['Paragraph','Image','Code Snippet'], :label => "Section Type"  %>
  </div>

  <!-- 'Video','Audio' -->

  <div class="field">    
    <%= form.text_area :contents, id: :section_contents, :label => "Use for Paragraph or Code (Leave Blank for Image)" %>
  </div>

  <div class="field">    
    <%= form.file_field :external_url, id: :section_external_url, :label => "Use for Image (Leave for Paragraph or Code)" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
