<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Content type:</strong>
  <%= @section.content_type %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @section.contents %>
</p>

<p>
  <strong>External url:</strong>
  <%= @section.external_url %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
 -->