<p id="notice"><%= notice %></p>

<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center" id="herodiv3">
      <strong>
        <h1 style="font-size: 110px; text-align: center; font-family: 'Merriweather', cursive;  color: #e53c35; margin-bottom: 0px; ">ONCE A DAY</h1>
      </strong>
      <h4 style="font-size: 20px; text-align: center; font-family: 'Merriweather', cursive;  color: #000000; margin-bottom: 0px; ">HELPING OTHERS EVERY DAY</h4>
      <div class="col-sm-12 col-md-12 col-lg-12 text center" id="saywhat">
        <%= link_to "EXPLORE BLOG POSTS", subjects_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <section style="min-height: 10em; ">
    <div class="col-sm-12 col-md-12 col-lg-12" id="what">
      <h1 id="divtitle"> Thank you for being here. </h1>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <p>
          I created <a href="https://www.onceaday.today/">Once A Day</a> during my graduate studies to share what I was learning with the rest of the world. Its a Ruby On Rails application on heroku. After hundreds of posts, this project has become an integral part of my life. My late mother wanted me to help out others as much as I could and Once a Day as a platform helps me accomplish this. Even if I am able to help one person, it is a blessing.
          <br>
          Through the navbar above, you can browse through all my posts for free, buy reusable code plugins and components through my <a href="https://gumroad.com/sprakash24oct">gumroad store</a> (I provide free support and maintainance), hire me as a mentor on <a href="https://mentorcruise.com/mentor/sauravprakash/">mentorcruise</a> or just browse though my <a href="https://mentorcruise.com/mentor/sauravprakash/">youtube videos</a> on coding or working out. <br>
            <br>
            If you feel Once a Day was helpful to you and want to help, you can donate here.
        </p>
        <div className="paypalButton" style="text-align: center;">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations" />
            <input type="hidden" name="business" value="sprakash24oct@gmail.com" />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
          </form>
        </div>
      </div>
      <p id="team">
        <strong>Best,</strong>
        <br>
        <strong>Saurav Prakash</strong>
        <br>
        <strong>Son, Engineer, Brother</strong>
      </p>
    </div>
  </section>

  <section style="min-height: 10em; ">
    <div class="col-sm-12 col-md-12 col-lg-12" id="what3">
      <hr>
      <div class="w3-card" style="height: auto; margin: 20px 0px; padding: 0px;">
        <h1 style="text-align: center;"> FEATURED POST </h1>
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin: 40px 0px;">
          <strong>
            <h1 style="font-size: 40px; text-align: center; font-family: ' Merriweather', cursive; margin: 10px; padding: 10px; color: #e53c35; margin-bottom: 0px; ">
              <%= @random_post.title.upcase %>
            </h1>
          </strong>
          <p style=" font-size: 14px; padding: 5px; font-family: 'Merriweather' , cursive; margin: 1px; text-align: center;">
            <strong>By: <%= @random_post.user_id != nil ? User.find_by_id(@random_post.user_id).name : "none" %></strong>
          </p>
          <p style="font-size: 12px; padding: 5px; font-family: 'Merriweather', cursive; margin: 1px; text-align: center;">
            <strong><%= @random_post.posted_on %></strong>
          </p>
          <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; margin-top: 20px;">
            <%= social_share_button_tag(@random_post.title, :image => "#{@random_post.heroimage}") %>
          </div>
          <% if isowner(@random_post) %>
          <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; margin-top: 20px;">
            <%= link_to 'Add New Section', new_subject_post_section_path(Subject.find_by_id(@random_post.subject_id), @random_post), class: "btn btn-primary" %>
            <%= link_to 'Edit Post', edit_subject_post_path(Subject.find_by_id(@random_post.subject_id), @random_post), class: "btn btn-primary" %>
          </div>
          <% end %>

          <% @random_post.sections.order('created_at').each do |section| %>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-2 col-md-2 col-lg-2">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <% if section.content_type == 'Paragraph'%>
              <p style="font-size: 12px;  font-family: 'Merriweather', cursive; margin: 1px; text-align: justify;">
                <%= simple_format(section.contents) %>
              </p>
              <% elsif section.content_type == 'Image'%>
              <p style="text-align: center;overflow-x: hidden;">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <%= image_tag section.external_url.url, style: 'height:auto;width:100%; margin: 20px auto;' %>
              </div>
              </p>
              <% elsif section.content_type == 'Video'%>
              <div class="col-sm-12 col-md-12 col-lg-12">
                <iframe width="100%" height="450em; margin: 20px auto;" src=<%= section.video_url %> frameborder="0" allowfullscreen></iframe>
              </div>
              <% elsif section.content_type == 'Code Snippet'%>
              <div class="col-sm-12 col-md-12 col-lg-12" style="background: black; color: #fff; padding: 10px;">
                <p style="font-size: 40px;  margin: 1px; font-style: italic;">
                <pre><%= section.contents %></pre>
                </p>
              </div>
              <% end %>
              <% if isowner(@random_post) %>
              <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                <%= link_to 'Edit Section', edit_subject_post_section_path(Subject.find_by_id(@random_post.subject_id), @random_post, section), class: "btn btn-primary btn-xs" %>
                <%= link_to 'Delete Section', subject_post_section_path(Subject.find_by_id(@random_post.subject_id), @random_post, section), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-xs" %>
              </div>
              <% end %>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
            </div>
          </div>
          <% end %>
          <% if isowner(@random_post) %>
          <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; margin-top: 20px;">
            <%= link_to 'Add New Section', new_subject_post_section_path(Subject.find_by_id(@random_post.subject_id), @random_post), class: "btn btn-primary" %>
            <%= link_to 'Edit Post', edit_subject_post_path(Subject.find_by_id(@random_post.subject_id), @random_post), class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section>

    <div class="col-sm-12 col-md-12 col-lg-12" style="height: auto; background: #e53c35;">
      <p style="font-size: 1em; text-align: center; font-family: 'Merriweather', cursive;  padding: 10px;  margin-bottom: 0px; color: white;">Owned & Maintained by <a href="https://www.linkedin.com/in/saurav-prakash-2a402335/" style="color: black;"> Saurav Prakash</a></p>
      <p style="font-size: 0.7em; text-align: center; font-family: 'Merriweather', cursive;  padding: 10px;  margin-bottom: 1em; color: white;">If you like what you see, you can help me cover server costs or buy me a cup of coffee though donation :)</p>
      <div className="paypalButton" style="text-align: center;">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_donations" />
          <input type="hidden" name="business" value="sprakash24oct@gmail.com" />
          <input type="hidden" name="currency_code" value="USD" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
      </div>
    </div>
  </section>

</div>