<p id="notice"><%= notice %></p>

<div class = "col-sm-12 col-md-12 col-lg-12">

    <div class = "col-sm-12 col-md-12 col-lg-12" >
    
      <div class = "col-sm-12 col-md-12 col-lg-12 text-center" id = "herodiv3" >      
        <strong><h1 style = "font-size: 110px; text-align: center; font-family: 'Merriweather', cursive;  color: #e53c35; margin-bottom: 0px; ">ONCE A DAY</h1></strong>
          <h4 style = "font-size: 20px; text-align: center; font-family: 'Merriweather', cursive;  color: #000000; margin-bottom: 0px; ">GIVING VALUE EACHDAY</h4> 

            <div class = "col-sm-12 col-md-12 col-lg-12 text center" id = "saywhat">
              <%= link_to "SAY WHAT ?", "#{home_path}#what", class: "btn btn-primary" %>
            </div>
                
      </div>

      
    </div>  

    <section style = "min-height: 10em; ">
      <div class = "col-sm-12 col-md-12 col-lg-12" id = "what">

        <h1 id = "divtitle"> What's this all about?</h1>

        <p id = "start"> are tired of the clutter of information available out there.....Where to start ? What to read ? What to learn today?
        <br> 
        <br> 

        Its Simple! We choose one cool 20 minute post wriitten by a member for you to read. No clutter. No email chains of notifications.

        Just read one 20 minute post daily and keep learning in your busy schedule.

        <br> If you think you can add value through what you have to say, signup and start posting under a subject of  once a day and we will randomly showcase your post to everyone. <br>If you just wanna read and keep reading, signup and receive one post link to your email everyday</p>

        <p id = "team">
          <strong>- Once A Day team</strong> 
        </p>

        <p style = "text-align: center;">
          <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary" %>
        </p>


      </div>
    </section> 




     <section style = "min-height: 10em; ">
      <div class = "col-sm-12 col-md-12 col-lg-12" id = "what3" >
      <hr>
      <h1 id = "divtitle"> this is what I am talking about </h1>
      <hr>

       <div class="w3-card" style = "height: auto; margin: 20px 0px; padding: 0px;">
                     
          <div class = "col-sm-12 col-md-12 col-lg-12" style = "margin: 40px 0px;">
              <strong><h1 style = "font-size: 50px; text-align: center; font-family: 'Merriweather', cursive;  padding: 10px; color: #e53c35; margin-bottom: 0px; ">
                <%= @random_post.title.upcase %>   
              </h1></strong>

              <p style = "font-size: 14px; padding: 5px; font-family: 'Merriweather', cursive; margin: 1px; text-align: center;">
                
                <strong>By: <%= @random_post.user_id != nil ? User.find_by_id(@random_post.user_id).name : "none" %></strong>
              </p>

              <p style = "font-size: 12px; padding: 5px; font-family: 'Merriweather', cursive; margin: 1px; text-align: center;">
                
                <strong><%= @random_post.posted_on %></strong>   
              </p>

              <div class = "col-sm-12 col-md-12 col-lg-12" style = "text-align: center; margin-top: 20px;">

                <%= social_share_button_tag(@random_post.title, :image => "#{@random_post.heroimage}") %>

              </div>

              <% if isowner(@random_post) %>
                <div class = "col-sm-12 col-md-12 col-lg-12" style = "text-align: center; margin-top: 20px;">
                  <%= link_to 'Add New Section', new_subject_post_section_path(@subject, @random_post), class: "btn btn-primary" %>
                  <%= link_to 'Edit Post', edit_subject_post_path(@subject, @random_post), class: "btn btn-primary" %>
                  
                </div>
              <% end %>


              
              
              <% @random_post.sections.order('created_at').each do |section| %>

              <div class = "col-sm-12 col-md-12 col-lg-12">

                <div class = "col-sm-2 col-md-2 col-lg-2">
                </div>

                <div class = "col-sm-8 col-md-8 col-lg-8">
                  <% if section.content_type == 'Paragraph'%>
                    <p style = "font-size: 12px;  font-family: 'Merriweather', cursive; margin: 1px; text-align: justify;">         
                          <%= simple_format(section.contents) %>            
                    </p>        
                  <% elsif section.content_type == 'Image'%>      
                    <p style = "text-align: center;overflow-x: hidden;">
                    <div class = "col-sm-12 col-md-12 col-lg-12">         
                      <%= image_tag section.external_url.url, style: 'height:auto;width:100%; margin: 20px auto;' %>            
                    </div>
                    </p>      
                  <% elsif section.content_type == 'Video'%>      
                    
                    <div class = "col-sm-12 col-md-12 col-lg-12">                 
                      <iframe width="100%" height="450em; margin: 20px auto;" src= <%= section.video_url %> frameborder="0" allowfullscreen></iframe>         
                    </div>
                    
                  <% elsif section.content_type == 'Code Snippet'%>
                    <div class = "col-sm-12 col-md-12 col-lg-12" style = "background: black; color: #fff; padding: 10px;">
                      <p style = "font-size: 40px;  margin: 1px; font-style: italic;">          
                          <pre><%= section.contents %></pre>
                      </p>
                    </div>
                  <% end %>
                  <% if isowner(@random_post) %>
                    <div class = "col-sm-12 col-md-12 col-lg-12" style = "text-align: center;">
                      <%= link_to 'Edit Section', edit_subject_post_section_path(@subject, @random_post, section), class: "btn btn-primary btn-xs" %>
                      <%= link_to 'Delete Section', subject_post_section_path(@subject, @random_post, section), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-xs" %>
                    </div>
                  <% end %>
                </div>

                <div class = "col-sm-2 col-md-2 col-lg-2">
                </div>

              </div>

              <% end %>
              <% if isowner(@random_post) %>
                <div class = "col-sm-12 col-md-12 col-lg-12" style = "text-align: center; margin-top: 20px;">     
                  <%= link_to 'Add New Section', new_subject_post_section_path(Subject.find_by_id(@random_post.subject_id), @random_post), class: "btn btn-primary" %>
                  <%= link_to 'Edit Post', edit_subject_post_path(Subject.find_by_id(@random_post.subject_id), @random_post), class: "btn btn-primary" %>
                </div>
              <% end %>

            </div>

       </div>
      </div>
    </section>


 

</div>

