<!DOCTYPE html>
<html>

<head>
  <title>ONCE A DAY</title>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108766751-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-108766751-1');
  </script>


  <%= favicon_link_tag 'https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/onceadaylogo.png' %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" lazyload>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" lazyload>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>

  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" lazyload>


  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <meta name="description" content="Once a day is a platform to share knowledge and help others accomplish their software engineering ambitions. Buy software plugins, browse hundreds of blog posts, hire a mentor and watch youtube videos.">
  <meta content="Once A Day Today Blog" property="og:title" />

  <script data-ad-client="ca-pub-7912024902186521" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
  <%= render 'layouts/nav' %>
  <%= yield %>
</body>

</html>